{% extends "basetemplate.html" %}
{% block title %}Shorten your Web Addresses{% endblock %}


<!--For Homepage-->
{% block content %}
<h1>Welcome to Our URL Shortener app you need to be Logged in to shorten URL</h1>
<h1>So please create an <a href="{{ url_for('signup') }}">Account</a> now</h1>

<p>
    Shorter, Simpler Links for All in QR Codes

In an increasingly digital age, URLs (web addresses) to online content have become long and cumbersome. It's not uncommon to see links that are multiple lines long when shared over text or email! This is why URL shortening services have become so valuable. They provide simple and short aliases that redirect to the original links.

One such service - LinkShortner - offers customized shortened links and QR codes on demand. Users simply enter any long URL, and LinkShortner generates a short and memorable abbreviated version. For example, a Google link can be reduced to just "ourwebsite.com/Goog123".
With easier sharing, cleaner tracking and Branded shortcuts, Our LinkShortner takes hyperlink user experience to the next level! Less clutter and complexity means wider access to critical content - that's the driving vision behind link shorteners.
</p>
<div class="linkedin-profile">
    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="small" data-theme="dark" data-type="VERTICAL" data-vanity="shehryarzulfiqar" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://pk.linkedin.com/in/shehryarzulfiqar?trk=profile-badge">Shehryar's Linkedin</a></div>
    </div>
{% endblock %}

