{% extends "basetemplate.html" %}
{% block title %}Sign Up Page{% endblock %}

{% block content %}
    <div class="flex-container">

        <form action="/signup" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                       title="Must contain at least one number, one uppercase and lowercase letter, and at least 8 characters"
                       required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control"
                       pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>

<script>
        const errorMessage = document.getElementById('error-message');
        if (errorMessage.innerText.trim() !== '') {
            setTimeout(() => {
                errorMessage.style.display = 'none';
            }, 5000);
        }
    </script>

{% endblock %}
